<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large waves-effect waves-default pulse black">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating black darken-2 waves-effect waves-default" href="#home"><i class="material-icons">arrow_upward</i></a></li>
    <li><a class="btn-floating blue darken-6 waves-effect waves-default" href="home.html"><i class="material-icons">code</i></a></li>
    <li><a class="btn-floating grey darken-1 waves-effect waves-default" href="#blog"><i class="material-icons">library_books</i></a></li>
    <li><a class="btn-floating green darken-1 waves-effect waves-default" href="#contact"><i class="material-icons">person</i></a></li>
  </ul>
</div>
