<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large waves-effect waves-default pulse black">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating black darken-2 waves-effect waves-default" href="#home" title="Top"><i class="material-icons">arrow_upward</i></a></li>
    <li><a class="btn-floating grey darken-1 waves-effect waves-default" href="#portfolio" title="Portfolio"><i class="material-icons">code</i></a></li>
    <li><a class="btn-floating grey darken-1 waves-effect waves-default" href="#blog" title="Blog"><i class="material-icons">library_books</i></a></li>
    <li><a class="btn-floating grey darken-1 waves-effect waves-default" href="#contact" title="Contact"><i class="material-icons">person</i></a></li>
  </ul>
</div>
